<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>    
    <pipelines>
      <httpRequestBegin>
        <processor type="SitecoreCustom.Extension.Override.ItemNotfoundHandler, SitecoreCustom.Extension" patch:instead="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']">
          <Sites desc="custom sites,split symbol is ','">cathaybk</Sites>
          <EnableLog>True</EnableLog>
        </processor>
      </httpRequestBegin>      
    </pipelines>
    <log4net>
      <appender name="NotfoundLogAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/Logs/ItemNotFoundRedirect.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
      </appender>
      <logger name="NotfoundLoger" additivity="false">
        <priority value="INFO" />
        <appender-ref ref="NotfoundLogAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>